.card {
    display: flex;
    margin: 20px;
    font-size: 16px;
    border: #BA9F65 solid;
    background-color: #484B4B;
    box-shadow: 10px 7px 5px black;
}

.card-img {
    width: 150px;
    height: 100%;
}

.name {
    font-size: 25px;
}

.description {
    padding-left: 10px;
}

p {
    color: white;
}

.found-button {
    font-family: 'Triforce';
    background-color: #86A5A9;
    width: 100px;
    height: 45px;
    margin: 8px;
    box-shadow: 3px 3px 3px black;
}

.button_img {
    height: 20px;
    width: 20px;
    margin: 5px;
}