nav {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
}

header {
    color: #BA9F65;
    border: #BA9F65 solid;
    background-color: #484B4B;
    text-align: center;

}

h1 {
    font-family: 'Triforce';
    font-size: 60px;
}

.link {
    text-decoration: underline;
    color: #BA9F65;
    margin-bottom: 10px;
    font-family: 'Triforce';
    font-size: 24px;
}